body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.fullscreengraphic {
    position: absolute;
    top: 0px;
    left: 0px;
}

#invoice {
    display: none;
    width: 100%;
    height: 100%;
}

#qrcode {
    display: block;
    margin: auto;
}

#paid {
    display: none;
    width: 100%;
    height: 100%;
}

#debug {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: none;
}
